<!DOCTYPE html>
<html>
    <head>
        <style>
            .aboutus{
                background: aqua
            }
            .aboutus-text{
                color: blue
            }
        </style>
    </head>
    <body>
        <div class="aboutus">
            <h1>About Us</h1>
            <h3 class="aboutus-text">
                Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </h3>
        </div>
    </body>
</html>