<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style>
            .aboutus{
                background-color: #E1E1E1;
                max-width: 800px;
                padding: 1px 10px 10px 10px
            }
            .aboutus-text{
                color: #000000;
                font-weight: 600
            }
            body{
                background-color: #5B5B5B;
            }
        </style>
    </head>
    <body>
        <div class="aboutus">
            <h1>About Us</h1>
            <h3 class="aboutus-text">
                Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </h3>
        </div>
    </body>
</html>