<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

    </head>
    <body style="background-color: #5B5B5B">
        <div class="container" style="background-color: #E1E1E1; max-width: 500px; padding: 1px 10px 10px 10px">
            <div class="row">
            <div class="col-md-4">
            <address style="margin: 20px; font-size:20px">
              <strong>Best Cars</strong><br>
              864 Pleasant Hill Road<br>
              West Palm Beach</br>
              Florida, FL33401<br>
              +1 (561) 936-2927
            </address>
            </div>
            </div>
            </div>
    </body>
</html>